
$pad-bg: #e4f9ff;

.edit-pad {

  background-color: $pad-bg;
  border-radius: 8px;
  bottom: -70px;
  left: 50%;
  padding: 2em;
  position: fixed;
  transform: translateX(-50%);
  width: 50%;

  &.is-editing {
    bottom: 1em;
  }

  .pad-input {
    
    background: rgba(255, 255, 255, 1);
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0 , .03);
    font-size: 1.5em;
    margin-right: .5em;
    outline: 0;
    padding: .25em;
    vertical-align: middle;
    width: calc(100% - 100px);


  }



}
