.password-input {
  $bar-color: #ff6c00;
  $bar-background: #fcfcfc;

  padding: .5em;

  > input {

    background: rgba(0, 0, 0, .003);
    border: 0;
    border-radius: 5px;
    box-shadow: inset 0 -3px 3px  rgba(0, 0, 0 , .03);
    font-size: .8em;
    line-height: 2.5;
    outline: 0;
    padding: .5em;
    width: 50%;
  }

  > .scorebar {
    background-color: $bar-background;
    padding: .25em 0;
    width: 100%;
  } 

  .bar {
    background-color: $bar-color;
    display: inline-block;
    min-height: 5px;
    transition: width .3s ease;
  }

}
